/* Font Family Code---
font-family: 'Poppins', sans-serif;
font-family: 'Volkhov', serif; */

body{
    margin: 0;
    background-color: #fdf2f2;
}
/* Header Part Design */
header{
    background-color: white;
    /* background-color: #fdf2f2; */
    box-shadow: 3px 3px 5px #dad6d6;
}
.container{
    width: 80%;
    margin: auto;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.logo img{
    width: 55px;
    margin:0 16px;
}
.nav-item ul{
    display: flex;
}
.nav-item ul li{
    list-style: none;
    padding: 5px 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    margin: 0 3px;
}
.nav-item ul li:hover{
    background-color: crimson;
    color: white;
}
.btn-login{
    background-color: darkblue;
    color: white;
}

/* Banner Section Design */
.banner-section{
    margin: 35px 0;
}
.banner-content{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px 25px;
    border-radius: 10px;
    box-shadow: 2px 3px 8px #d1d0d0;
}
.banner-info h1{
    font-size: 3.5em;
    font-family: 'Volkhov', serif;
    margin-bottom: 0;
    color: darkblue;
}
.banner-info p{
    font-size: 1em;
    text-align: justify;
    font-family: 'Poppins', sans-serif
}
.banner-photo img{
    width: 480px;
}
.fas{
    margin: 0 5px;
}
.btn-signup{
    border:3px solid darkblue;
    color: darkblue;
    background-color: white;
    padding: 8px 25px;
    border-radius: 50px;
    font-weight: bold;
    font-family: 'Volkhov', serif;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
}
.btn-signup:hover{
    color: white;
    background-color: darkblue;
}

/* Pick Plan Section */
.plan-section{
    margin: 35px 0;
}
.pick-plan-content{
    background-color: white;
    box-shadow: 2px 3px 8px #d1d0d0;
    border-radius: 10px;
    padding: 0 35px 10px 35px;
}
.pick-plan-content p{
    text-align: center;
    font-size: 1.2em;
    color: gray;
}
.pick-plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pick-plan h1{
    margin-bottom: 0;
    font-size: 2.2em;
}
.plan-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    margin-top: 35px;
    padding-bottom: 15px;
}
.monthly{
    text-align: center;
    line-height: 12px;
    border: 3px solid gray;
    padding: 50px 0;
    border-radius: 8px;
    background-image: url(img/mask/mask-1.png);
}
.yearly{
    text-align: center;
    line-height: 12px;
    border: 3px solid gray;
    padding: 50px 0;
    border-radius: 8px;
    background-image: url(img/mask/mask-2.png);
}
.monthly h3, .yearly h3{
    font-size: 28px;
    margin: 0;
}
.monthly h2, .yearly h2{
    font-size: 38px;
}
.btn-box{
    background-color: orangered;
    color: white;
    border: none;
    padding: 8px 22px;
    font-size: 0.9em;
    border-radius: 50px;
    cursor: pointer;
}

/* Work Section Design */
.work-section{
    margin: 25px 0;
}
.work-content{
    background-color: white;
    box-shadow: 2px 3px 8px #d1d0d0;
    border-radius: 10px;
    padding: 0 20px 35px 20px;
    text-align: center;
}
.first-work{
    background-color: white;
    margin:30px 10px;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px #e2e2e2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}
.work-photo img{
    width: 75%;
}
.work-detils h2{
    font-size: 2.5em;
    margin-bottom: 0;
}
.work-detils p{
    font-size: 1.2em;
}

/* Social Post Section Design */
.social-section{
    margin-top: 50px;
    margin-bottom: 35px;
}
.social-post-content{
    background-color: white;
    box-shadow: 2px 3px 8px #d1d0d0;
    border-radius: 10px;
    padding: 0 35px 30px 35px;
    text-align: center;
}
.social-post{
    margin: 25px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 18px;
}
.post{
    background-color: white;
    box-shadow: 2px 3px 8px #d1d0d0;
    border-radius: 10px;
    padding: 10px;
}
.post img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0;
}
.post h3{
    font-size: 1.2em;
    margin-top: 0;
    text-align: center;
}

/* Footer Section Design */
.footer-section{
    margin-top: 35px;
    margin-bottom: 35px;
}
.footer-content{
    background-color: white;
    box-shadow: 2px 3px 8px #d1d0d0;
    border-radius: 10px;
    padding: 0 35px 10px 35px;
}
.footer-logo{
    display: flex;
    align-items: center;
}
.logo-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}
.footer-logo img{
    width: 40px;
    margin: 0 8px;
}
.footer-icon .fab{
    font-size: 1.8em;
    color: darkblue;
    margin: 0 3px;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}
.footer-icon .fab:hover{
    color: crimson;
}
.footer-all-links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}
.link-box ul li{
    list-style: none;
}
.list-head{
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;
}
.terms-condition{
    display: flex;
    align-items: center;
    justify-content: end;
}
.terms-condition p{
    padding: 0 10px;
    font-size: 0.8em;
    color: darkblue;
    font-family: 'Poppins', sans-serif;
}

/* Footer Design */
footer p{
    text-align: center;
    color: gray;
    font-family: 'Poppins', sans-serif;
}